table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

th:not(:first-child) {
  width: 100px;
}

td.bg-color {
  background-color: lightblue;
}

tr th,
tr:not(:last-child) td {
  border: 1px solid black;
}

body:not(td) > button {
  margin: 5px 0;
}
